body {
    font-family: Arial, sans-serif;
    background-image: url('imagens/image.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.login-container {
    width: 100%;
    max-width: 400px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #333;
    border: 2px solid #0b3264;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    color: #0b3264; 
}

.form-control {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    font-size: 16px;
}

.btn-acesso {
    font-family: Arial, sans-serif;
    background-color: #0b3264;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 20px;
}
.btn-acesso:hover {
    background-color: #1d4e85;
}

.form-control:focus {
    border-color: #0b3264;
    box-shadow: 0 0 5px rgba(11, 50, 100, 0.6);
}