<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/controle_de_compras/static/style-login.css">
    <title>Login</title>
</head>
<body>
    <form action="#" th:action="@{/login}" method="POST" class="login-form">
        <h2>Bem-vindo</h2>
        <div class="mb-3">
            <label for="username" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="username" name="username" placeholder="Digite seu nome de usuário" autocomplete="username">
            </div>
        </div>

        <div class="mb-3">
            <label for="password" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="password" name="password" placeholder="Digite sua Senha" autocomplete="username">
            </div>
        </div>
        <a href="/controle_de_compras/compras">
            <button class="btn-acesso">Acessar</button>
        </a>

        <div sec:authorize="hasRole('ROLE_ANONYMOUS')">
            <p th:if="${param.error}" style="color: red;">Usuário ou senha inválidos. Tente novamente.</p>
        </div>
    </form>
</body>
</html>
